language: rust
sudo: false

rust:
- nightly

addons:
  apt:
    packages:
    - libcurl4-openssl-dev
    - libelf-dev
    - libdw-dev

before_script:
- |
  pip install 'travis-cargo<0.2' --user &&
  export PATH=$HOME/.local/bin:$PATH

script:
- travis-cargo test
- travis-cargo bench
- travis-cargo --only nightly doc

after_success:
- travis-cargo --only nightly doc-upload
- travis-cargo coveralls --no-sudo
